body {
    background-color: rgb(26, 30, 40);
    overflow: hidden;
}
i {
    color: rgb(200, 200, 200);
    transition: 0.5s;
}
input:focus {
    outline: 0;
}
.info {
    margin-top: 4%;
    color: rgb(180, 180, 180);
    font-size: 1.2em;
    transition: 0.5s;
}
.input-button-group {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(200, 200, 200);
    border-radius: 2.5px;
    color: white;
    width: 100%;
    height: auto;
}
input {
    border: none;
    font-family: 'Tenali Ramakrishna';
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
    padding: 2.5% 2.5%;
    font-size: 1.2em;
    width: 60%;
    height: auto;
}
.fa-sync-alt {
    font-family: 'Tenali Ramakrishna';
    border: none;
    transition: 0.5s;
    background-size: 200% auto;
    color: #1A1F28;
    border-left: 1px solid rgb(200, 200, 200);
    border-bottom-right-radius: inherit;
    border-top-right-radius: inherit;
    padding: 2.5% 2%;
    font-size: 1.2em;
    width: 40%;
    height: auto;
    background-image: linear-gradient(to right, #E0EAFC 0%, #CFDEF3 51%, #E0EAFC 100%);
    cursor: pointer;
}
.fa-sync-alt:hover {
    background-position: right center;
}
.center {text-align: center;}
.tmid {margin: 0px auto;}
.logo{
    margin-left: 25%;
}

.content {
    min-height: calc(100vh - 70px);
}
.footer {
    height: 50px;
    color: white;
}
a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: underline;
}
.vertical-center {
    margin-top: 5%;
    position: absolute;
    top: 30%;
    left: 37%;
    width: 27%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.vertical-center >img {
    margin-left: 30%;
}
body:after{
    content: "beta";
    position: fixed;
    width: 80px;
    height: 25px;
    background: #EE8E4A;
    top: 7px;
    left: -20px;
    text-align: center;
    font-size: 13px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    line-height: 27px;
    -ms-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
}
.vertical-center-2nd {
    margin-top: 5%;
    position: absolute;
    top: 60%;
    left: 35%;
    width: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.tags{
    list-style-type: none;
    margin: 0;
    padding: 12%;
    font-family: Verdana, "sans-serife", monospace;
}

ul.tags li {
    font-family: 'Tenali Ramakrishna';
    font-size: 1.15em;
    margin: 5px;
    padding: 5px;
    color: #f4f4f4;
    border-radius: 5px;
}

ul.tags i{
    padding-right: 5px;
}
